<a href="https://colab.research.google.com/github/soopertramp/Assignments/blob/main/3.%20Introduction%20to%20Lists%20Assignment%20Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **Problem 1**

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [ ]:
# A list containing average daily temperature over a week 
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output 
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]

In [ ]:
# Store the highest temperature
max_temp = max(temperatures)
print(max_temp)
# Index of the element with the highest temperature
max_temp_index = temperatures.index(max_temp)
print(max_temp_index)

42
4

In [ ]:
# Store the lowest temperature 
min_temp = min(temperatures)
print(min_temp)
# Index of the element with the lowest temperature
min_temp_index = temperatures.index(min_temp)
print(min_temp_index)

29
2

In [ ]:
# Swap the highest and the lowest temperatures

temperatures[max_temp_index] = min_temp
temperatures[min_temp_index] = max_temp

In [ ]:
# Print the output list

print(temperatures)

[34, 40, 42, 33, 29, 37, 39]


#### **Problem 2**

#### Measures of Averages

* Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
* Median is the middle number in a <b>sorted</b>, ascending or descending, list of numbers. If the list has $N$ numbers where $N$ is odd, then median is the element in the middle i.e, $(\frac{N+1}{2})^{th}$ element. If $N$ is even, then median is the mean of $(\frac{N}{2})^{th}$ and $(\frac{N}{2}+1)^{th}$ elements

In [ ]:
# List of product prices

prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

number_of_elements_in_list = 10

In [ ]:
# Calculate the mean of the product prices. Use list functions. Also print the mean_price
mean_price = sum(prod_price_list) / number_of_elements_in_list
print(mean_price)

1975.0

#### Calculate the median price

In [ ]:
# Step 1 - Obtain the sorted list. Print the sorted_prices
sorted_prices = sorted(prod_price_list)
print(sorted_prices)

[250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]

In [ ]:
# Check if the number of elements in the list is even or odd

if len(prod_price_list) % 2 == 0:
  print('even')
else:
  print('odd')

even

In [ ]:
# Use the corresponding formula to calculate the median and print the median
median_price = ((sorted_prices[int(len(prod_price_list)/2)])+(sorted_prices[int((len(prod_price_list)/2)-1)]))/2
print(median_price)

575.0

In [ ]:
# Check which is greater, mean or median
if mean_price > median_price:
  print('Mean price is greater')
else:
  print('Median price is greater')

Mean price is greater

#### **Why do you think that is the case??**

#### **Write your explanation in this text cell**

Your explanation :  Mean is greater because of the one large production price.

#### **Problem 3**

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [ ]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

In [ ]:
tech = tech_companies[3]
tech

['Nvidia', 'Cisco', 'Samsung']

In [ ]:
# Write your code below

tech_companies.pop(-1)
tech_companies = tech_companies + tech
print(tech_companies)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

In [ ]:
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

In [ ]:
last_element = tech_companies[3]
last_element

['Nvidia', 'Cisco', 'Samsung']

In [ ]:
# Do the same task another way

tech_companies.remove(last_element)
tech_companies.extend(last_element)

In [ ]:
tech_companies

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']